[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = "*"
django-allauth = "*"
fontawesomefree = "*"
pandas = "*"
libsass = "*"
django-sass-processor = "*"
django-mathfilters = "*"
numpy = "*"
sqlalchemy = "*"
django-celery-beat = "*"
django-celery-results = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
ipython = "*"
psycopg2-binary = "*"
python-dotenv = "*"
ratelimit = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
django-compressor = "*"
# To the poor human in the future who has to deal with this problem child of a dependency:
# For some reason, on windows, package version 3.1.1 fails to install
# If, for some reason, a future version of this package happens to also not work,
# you can add the current version of the package to the version specifier below with
# the string "!=" prepended.
# Example: "!=3.1.1,!=4.2.2" (in this case, the new problem version is 4.2.2)
django-simple-history = { version = "!=3.1.1" }

[dev-packages]

[requires]
python_version = "3.11.1"
