[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
celery = "*"
django-allauth = "*"
fontawesomefree = "*"
pandas = "*"
libsass = "*"
django-sass-processor = "*"
django-mathfilters = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
