{% load socialaccount %}
{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en"
    v-scope="{ darkmode: Cookies.get('darkmode') == 'true' }"
    class="{% if request.COOKIES.darkmode == 'true' %}anti-flashbang{% endif %}"
    :class="{ 'dark-root': darkmode, 'light-root': !darkmode }">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | Ratatoskr</title>
    {% comment %} Styles {% endcomment %}
    <link rel="stylesheet" href="{% sass_src 'scss/style.scss' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    {% comment %} Libraries {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/petite-vue@0.4.1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
    {% block head %}
    {% endblock head %}
</head>
<body class="d-flex flex-column min-vh-100" v-scope>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow mb-3 fixed-top">
        <div class="container-fluid px-3 px-lg-5">
            <a class="navbar-brand mb-0 h1" href="{% url "index" %}"><img src="{% static 'assets/ratatoskr-wordmark.svg' %}" class="d-block mx-lg-auto img-fluid rounded invert-on-dark" alt="Ratatoskr" width="130" height="100" loading="lazy" style="max-height: 200px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="navbar-nav ms-auto flex-nowrap align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'help' %}">Help</a>
                    </li>
                    {% if user.is_authenticated %}
                        {% comment %} Mobile nav links. d-lg-none makes it not appear on large screens {% endcomment %}
                        {% if True %}
                            <li class="nav-item d-lg-none">
                                <a class="nav-link" href="{% url "admin:index" %}">Django Admin</a></a>
                            </li>
                            <li class="nav-item mx-0 mb-2 d-lg-none">
                                <a href="{% url 'dashboard' %}" class="btn btn-primary ms-lg-2" style="color: white !important;">My Dashboard</a>
                            </li>
                        {% else %}
                        <li class="nav-item mx-0 mt-1 mb-2 d-lg-none">
                            <a href="{% url 'dashboard' %}" class="btn btn-primary ms-lg-2" style="color: white !important;">My Dashboard</a>
                        </li>
                        {% endif %}
                        {% comment %} Desktop dashboard button {% endcomment %}
                        <li class="nav-item d-none d-lg-block mx-0">
                            <a href="{% url 'dashboard' %}" class="btn btn-primary ms-lg-2" style="color: white !important;">My Dashboard</a>
                        </li>
                    {% endif %}
                    {% comment %} Desktop user login info stuff {% endcomment %}
                    <li class="nav-item display-flex align-items-center ms-1 my-3 my-lg-0 d-none d-lg-block">
                        {% if user.is_authenticated %}
                            <div class="dropdown mx-2">
                                <a href="#" class="nav-link dropdown-toggle py-0" data-bs-toggle="dropdown">
                                    {% comment %} does it look like i want a stupid long property chain? i just want my user's gosh darn profile picture! {% endcomment %}
                                    <img style="width: 35px;" class="rounded me-2" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="" srcset="">
                                    {{ user.socialaccount_set.all.0.extra_data.name }}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu mt-2 w-100" aria-labelledby="profile-dropdown">
                                    {% if user.is_superuser %}
                                        <li><span class="dropdown-item-text">THE A D M I N</span></li>
                                    {% elif user.is_staff %}
                                        <li><span class="dropdown-item-text">Staff</span></li>
                                    {% else %}
                                        <li><span class="dropdown-item-text">User</span></li>
                                    {% endif %}
                                    <li><hr class="dropdown-divider"></li>
                                    {% if user.is_staff %}
                                        <li><a class="dropdown-item" href="{% url "user-schedules" user.id %}">Your Schedules</a></li>
                                        <li><a class="dropdown-item" href="{% url "admin:index" %}">Django Admin</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                    {% else %}
                                        <li><a class="dropdown-item" href="{% url "user-schedules" user.id %}">Your Schedules</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                    {% endif %}
                                    <li><span class="dropdown-item-text" href="#">{% logout_button %}</span></li>
                                </ul>
                            </div>
                        {% else %}
                            {% login_button %}
                        {% endif %}
                    </li>
                    {% comment %} Mobile user login info stuff {% endcomment %}
                    <li class="nav-item display-flex align-items-center ms-1 mb-3 mt-0 my-lg-0 d-lg-none">
                        {% if user.is_authenticated %}
                            <div class="nav-link py-0" data-bs-toggle="dropdown">
                                Logged in as:&nbsp;
                                <img style="width: 35px;" class="rounded me-2" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="" srcset="">
                                {{ user.socialaccount_set.all.0.extra_data.name }}
                            </div>
                            <div class="mt-2">
                                {% logout_button %}
                            </div>
                        {% else %}
                            {% login_button %}
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="height: 56px;">&nbsp;</div>
    <!-- navbar -->

    {% if messages %}
        <ul class="messages position-fixed bottom-0 end-0 m-4" style="z-index: 9999">
            {% for message in messages %}
                <div class="toast m-1" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 9999"> {# High index because why not #}
                    <div class="toast-header">
                        <strong class="me-auto">{{ message.tags|title }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        </ul>
    {% endif %}

    <main class="container my-auto height-100">
        {% block body %}
        {% endblock body %}
    </main>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top flex-column flex-md-row">
            <p class="col-md-4 mb-md-0 mb-2 text-muted">
                © 2022 ratatoskr.app | 
                <a class="text-muted" href="https://raw.githubusercontent.com/worcestertechnicalhighschool/ratatoskr/master/LICENSE">LICENSE</a> |
                <a class="text-muted" href="{% url 'privacy' %}">PRIVACY</a>
            </p> 
    
            <ul class="nav justify-content-center justify-content-lg-end">
                <li class="nav-item"><button class="nav-link px-1 text-muted border-0 bg-transparent" @click="darkmode = !darkmode; Cookies.set('darkmode', darkmode.toString());">
                    <template v-if="darkmode">
                        <i class="fa-solid fa-sun"></i> Switch to Light Mode
                    </template>
                    <template v-else>
                        <i class="fa-solid fa-moon"></i> Switch to Dark Mode
                    </template>
                </button></li>
                <li class="nav-item"><span class="nav-link px-1 text-muted">|</span></li>
                <li class="nav-item"><a href="https://github.com/worcestertechnicalhighschool/ratatoskr" target="_blank" class="nav-link px-1 text-muted"><i class="fa-solid fa-code-branch"></i> Steal our code</a></li>
                <li class="nav-item"><span class="nav-link px-1 text-muted">|</span></li>
                <li class="nav-item"><a class="nav-link px-1 text-muted" href="https://techhigh.us"><i class="fa-solid fa-school"></i> WTHS</a></li>
                <li class="nav-item"><span class="nav-link px-1 text-muted">|</span></li>
                <li class="nav-item"><a class="nav-link px-1 text-muted" href="{% url "contact" %}"><i class="fa-solid fa-envelope"></i> Contact us!</a></li>
            </ul>
        </footer>
    </div>
  

    {% block scripts %}
    {% endblock scripts %}
    <script>
        // nya~
        window.onload = () => {
            PetiteVue.createApp({
                $delimiters: ["${", "}"]
            }).mount()
            let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
            var toastElList = [].slice.call(document.querySelectorAll('.toast'))
            var toastList = toastElList.map(function(toastEl) {
                return new bootstrap.Toast(toastEl)
            })
            toastList.forEach(toast => toast.show())
        }
    </script>
    </body>
</html>
