{% load socialaccount %}
{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | Ratatoskr</title>
    {% comment %} Styles {% endcomment %}
    <link rel="stylesheet" href="{% sass_src 'scss/style.scss' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    {% comment %} Libraries {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/petite-vue"></script>
    {% block head %}
    {% endblock head %}
</head>
<body class="d-flex flex-column min-vh-100">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow mb-3">
        <div class="container-fluid px-3 px-lg-5">
            <a class="navbar-brand mb-0 h1" href="{% url "index" %}">ratatoskr <small class="text-secondary d-none d-md-inline">meeting system</small></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="navbar-nav ms-auto flex-nowrap align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'help' %}">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "user-schedules" user.id %}">Your Schedules</a></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "admin:index" %}">Django Admin</a></a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "user-schedules" user.id %}">Your Schedules</a></a>
                            </li>
                        {% endif %}
                        {% comment %} Desktop user schedule creation dropdown {% endcomment %}
                        <li class="pt-1 d-lg-none"></li>
                        <li class="nav-item d-none d-lg-block">
                            <div class="dropdown">
                                <button
                                    type="button"
                                    class="btn btn-primary dropdown-toggle"
                                    data-bs-toggle="dropdown"
                                    data-bs-auto-close="false"
                                    aria-expanded="false">
                                    Create a schedule
                                </button>
                                <ul class="dropdown-menu mt-2 dropdown-menu-center">
                                    <form class="px-3 py-2" style="width: 450px" action="{% url 'create-schedule' %}" method="POST"
                                        v-scope="{ autoLockEnabled: false, loading: false }" 
                                        @submit="loading = true">
                                        {% csrf_token %}
                                        <div class="form-floating mb-3">
                                            <input type="text" id="name" name="name" class="form-control" placeholder="My New Schedule" required/>
                                            <label for="name">Schedule Name</label>
                                        </div>
                                        <fieldset>
                                            {% comment %} Checkbox controls the expansion of the autoLockAfter form field {% endcomment %}
                                            <div class="form-check">
                                                <input
                                                    class="form-check-input"
                                                    name="should_lock_automatically"
                                                    type="checkbox"
                                                    id="should_lock_automatically"
                                                    @click="autoLockEnabled = $el.checked">
                                                <label class="form-check-label" for="should_lock_automatically">
                                                    Lock schedule automatically
                                                </label>
                                            </div>
                                            <div class="mt-2" id="autoLock">
                                                <h5><label for="auto_lock_after">Lock Automatically After</label></h5>
                                                <input
                                                    type="datetime-local"
                                                    id="auto_lock_after"
                                                    name="auto_lock_after"
                                                    v-bind:disabled="!autoLockEnabled"
                                                    v-bind:required="autoLockEnabled"
                                                    class="form-control" />
                                            </div>
                                        </fieldset>
                                        <div class="my-3">
                                            <label for="visibility-select" class="form-label">Visibility</label>
                                            <select class="form-select" aria-label="Schedule Visibility" id="visibility-select" aria-describedby="visibilityHelp" name="visibility_select">
                                            <option selected value="A">Public</option>
                                            <option value="U">Unlisted</option>
                                            <option value="P">Private</option>
                                            </select>
                                            <div id="visibilityHelp" class="form-text">Choose your visibility to restrict access to your schedule.</div>
                                        </div>
                                        <br>
                                        <fieldset class="text-center">
                                            <button class="btn btn-primary w-50" name="submit" type="submit" v-bind:disabled="loading">
                                                <template v-if="loading">
                                                    <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                                                    Loading...
                                                </template>
                                                <span v-else>Create</span>
                                            </button>
                                        </fieldset>
                                    </form>
                                </ul>
                            </div>
                        </li>
                        {% comment %} Mobile user schedule creation link {% endcomment %}
                        <li class="nav-item d-block d-lg-none">
                            <a href="{% url "create-schedule" %}" class="btn btn-primary ms-1">+ Create a schedule</a>
                        </li>
                    {% endif %}
                    {% comment %} Desktop user login info stuff {% endcomment %}
                    <li class="nav-item display-flex align-items-center ms-1 my-3 my-lg-0 d-none d-lg-block">
                        {% if user.is_authenticated %}
                            <div class="dropdown mx-2">
                                <a href="#" class="nav-link dropdown-toggle py-0" data-bs-toggle="dropdown">
                                    {% comment %} does it look like i want a stupid long property chain? i just want my user's gosh darn profile picture! {% endcomment %}
                                    <img style="width: 35px;" class="rounded me-2" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="" srcset="">
                                    {{ user.socialaccount_set.all.0.extra_data.name }}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu mt-2 w-100" aria-labelledby="profile-dropdown">
                                    {% if user.is_superuser %}
                                        <li><span class="dropdown-item-text">THE A D M I N</span></li>
                                    {% elif user.is_staff %}
                                        <li><span class="dropdown-item-text">Staff</span></li>
                                    {% else %}
                                        <li><span class="dropdown-item-text">User</span></li>
                                    {% endif %}
                                    <li><hr class="dropdown-divider"></li>
                                    {% if user.is_staff %}
                                        <li><a class="dropdown-item" href="{% url "user-schedules" user.id %}">Your Schedules</a></li>
                                        <li><a class="dropdown-item" href="{% url "admin:index" %}">Django Admin</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                    {% else %}
                                        <li><a class="dropdown-item" href="{% url "user-schedules" user.id %}">Your Schedules</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                    {% endif %}
                                    <li><span class="dropdown-item-text" href="#">{% logout_button %}</span></li>
                                </ul>
                            </div>
                        {% else %}
                            {% login_button %}
                        {% endif %}
                    </li>
                    {% comment %} Mobile user login info stuff {% endcomment %}
                    <li class="nav-item display-flex align-items-center ms-1 my-3 my-lg-0 d-lg-none">
                        {% if user.is_authenticated %}
                            <div class="nav-link py-0" data-bs-toggle="dropdown">
                                Logged in as:&nbsp;&nbsp;
                                <img style="width: 35px;" class="rounded me-2" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="" srcset="">
                                {{ user.socialaccount_set.all.0.extra_data.name }}
                            </div>
                            <div class="mt-2">
                                {% logout_button %}
                            </div>
                        {% else %}
                            {% login_button %}
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar -->

    {% if messages %}
        <ul class="messages position-fixed bottom-0 end-0 m-4">
            {% for message in messages %}
                <div class="toast m-1" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 1111111111"> {# High index because why not #}
                    <div class="toast-header">
                        <strong class="me-auto">{{ message.tags|title }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        </ul>
    {% endif %}

    <main class="container my-5 height-100 mb-auto">
        {% block body %}
        {% endblock body %}
    </main>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top flex-column flex-md-row">
            <p class="col-md-4 mb-md-0 mb-2 text-muted">© 2022 meetings.techhigh.us | <a class="text-muted" href="https://raw.githubusercontent.com/worcestertechnicalhighschool/ratatoskr/master/LICENSE">LICENSE</a></p>
    
            <ul class="nav justify-content-end">
                <li class="nav-item"><a href="https://github.com/worcestertechnicalhighschool/ratatoskr" target="_blank" class="nav-link px-1 text-muted"><i class="fa-solid fa-code-branch"></i> Steal our code</a></li>
                <li class="nav-item"><span class="nav-link px-1 text-muted">|</span></li>
                <li class="nav-item"><a class="nav-link px-1 text-muted" href="https://techhigh.us"><i class="fa-solid fa-school"></i> WTHS</a></li>
                <li class="nav-item"><span class="nav-link px-1 text-muted">|</span></li>
                <li class="nav-item"><a class="nav-link px-1 text-muted" href="{% url "contact" %}"><i class="fa-solid fa-envelope"></i> Contact us!</a></li>
            </ul>
        </footer>
    </div>
  

    {% block scripts %}
    {% endblock scripts %}
    <script>
        // nya~
        window.onload = () => {
            PetiteVue.createApp({
                $delimiters: ["${", "}"]
            }).mount()
            let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
            var toastElList = [].slice.call(document.querySelectorAll('.toast'))
            var toastList = toastElList.map(function(toastEl) {
                return new bootstrap.Toast(toastEl)
            })
            toastList.forEach(toast => toast.show())
        }
    </script>
    </body>
</html>
