{% extends 'app/layouts/base.html' %}

{% block title %}{{ schedule.name }}{% endblock title %}

{% block body %}
<div class="text-muted d-flex flex-row align-items-center mb-1">
    <img class="me-2 rounded" src="{{ schedule.owner.socialaccount_set.all.0.get_avatar_url }}" alt="{{ schedule.owner.socialaccount_set.all.0.extra_data.name }}'s profile picture" style="width: 20px">
    <h6 class="mb-0"><a href="{% url 'user-schedules' schedule.owner.id %}" class="text-muted text-decoration-none">{{ schedule.owner.socialaccount_set.all.0.extra_data.name }}</a></h6>
</div>
<h1 class="mb-2">
    {{ schedule.name }}
</h1>
<div>{{ schedule.description|safe }}</div>

<div class="d-flex flex-column flex-md-row">
    {% if user == schedule.owner %}
        <a class="btn btn-link p-0" aria-label="Edit Schedule" href="{% url 'edit-schedule' schedule.id %}">
            <i class="fas fa-pencil float-right"></i> Edit Schedule</a>
    {% else %}
        <a class="btn btn-outline-primary m-1" href="mailto:{{ schedule.owner.email }}">
            <i class="fa-solid fa-envelope"></i>&nbsp;Contact Organizer</a>
        <a class="btn btn-outline-secondary m-1" href="{% url 'find-reservation' %}">
            <i class="fa-solid fa-magnifying-glass-arrow-right"></i>&nbsp;Find Reservation</a>
        <a class="btn btn-outline-secondary m-1" href="{% url 'help' %}">
            <i class="fa-solid fa-circle-question"></i>&nbsp;Help</a>
    {% endif %}
</div>
    {% if user.is_authenticated and user != schedule.owner %}
        <form class="m-0 p-0 d-inline" method="POST" action="{% url 'subscription' schedule.id %}">
            {% csrf_token %}
            {% if not schedule|is_subscribed:user %}
                <button class="btn btn-outline-info mt-1" name="action" value="subscribe"><i class="fa-solid fa-eye"></i>&nbsp;&nbsp;Subscribe</button>
            {% else %}
                <div class="btn-group mt-1">
                      <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-eye"></i> Subscription
                      </button>
                      <ul class="dropdown-menu">
                        <li><button class="dropdown-item" name="action" value="add_guest"><i class="fa-solid fa-people-line"></i>&nbsp;&nbsp;{% if schedule|is_guest:user %}Remove Self From Meetings{% else %}Add Self To Meetings{% endif %}</button></li>
                        <li><button class="dropdown-item" name="action" value="unsubscribe"><i class="fa-solid fa-eye-slash"></i>&nbsp;&nbsp;Unsubscribe</button></li>
                      </ul>
                </div>
            {% endif %}
        </form>
    {% endif %}

    {% if user == schedule.owner %}
        <p class="text-muted mt-3">
            This schedule is currently 
            {% if schedule.visibility == 'A' %}
                public. This means that this schedule is visible on your <a href="{% url 'user-schedules' user.id %}">profile page</a>.
            {% elif schedule.visibility == 'U' %}
                unlisted. This means that this schedule can only be accessed through a share link.
            {% elif schedule.visibility == 'P' %}
                private. This means that, even with a share link, nobody but you can see this schedule.
            {% endif %}
        </p>
    {% endif %}

    <div class="card mt-4">
        <div class="card-header">
            {% block schedule_head %}
            {% endblock schedule_head %}
        </div>
        {% block schedule_card %}
            <div class="card-body" id="timeslot-body">
                {% block schedule_body %}
                {% endblock schedule_body %}
            </div>
        {% endblock schedule_card %}
    </div>

{% endblock body %}

{% block scripts %}
<script>
    tinymce.init({
        selector: '#schedule-desc',
        menubar: '',
        toolbar: 'styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent'
    });
    tinymce.init({
        selector: '#schedule-desc-dark',
        menubar: '',
        content_css: "dark",
        toolbar: 'styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent'
    });
</script>
{% endblock scripts %}
