{% extends 'app/layouts/schedule_base.html' %}

{% block schedule_card %}
    <form
        v-scope="{ 
            checked: Array.from(document.querySelectorAll('#timeslot-body input[type=checkbox]'))
                        .filter(x => x.checked)
                        .length,
            shiftClicked: []
        }"
        class="m-0 p-0"
        method="POST"
        action="">
        {% csrf_token %}
        
        <div v-effect="onChanged(shiftClicked); "></div>
        {% if user == schedule.owner %}
            <div class="w-100 ps-3 p-2 bg-light shadow-sm rounded" v-scope="{ checkboxes: Array.from(document.querySelectorAll('#timeslot-body input[type=checkbox]')) }">
                <button class="btn btn-primary mb-2" type="button" @click="selectAll(checkboxes)">
                    <div class="border border-light d-inline-flex m-0 mt-1 me-1 p-0 rounded">
                        <input
                            class="text-danger form-check-input p-0 m-0"
                            type="checkbox"
                            v-bind:checked="checkboxes.length == checked && checkboxes.length != 0"
                            style="width: 15px; height: 15px;" />
                    </div>
                    Select All
                </button>
                <button
                    onclick="return confirm(`Are you sure you want to delete these timeslots?`)"
                    name="action"
                    value="delete"
                    class="btn btn-danger mb-2"
                    v-bind:disabled="checked == 0">
                    <i class="far fa-trash-alt"></i> Delete
                </button>
                <button
                    onclick="return confirm(`Are you sure you want to lock these timeslots?`)"
                    name="action"
                    value="lock"
                    class="btn btn-warning mb-2"
                    v-bind:disabled="checked == 0">
                    <i class="fas fa-lock"></i> Lock
                </button>
                <button
                    onclick="return confirm(`Are you sure you want to unlock these timeslots?`)"
                    name="action"
                    value="unlock"
                    class="btn btn-success mb-2"
                    v-bind:disabled="checked == 0">
                    <i class="fas fa-unlock"></i> Unlock
                </button>
                <button
                    name="action"
                    value="copy"
                    class="btn btn-info mb-2"
                    v-bind:disabled="checked == 0">
                    <i class="fa-solid fa-copy"></i> Copy
                </button>
            </div>
        {% endif %}
        <div class="card-body" id="timeslot-body">
            {% block schedule_body %}
            {% endblock schedule_body %}
        </div>
    </form>
{% endblock schedule_card %}

{% block scripts %}
<script>
    function selectAll(checkboxes) {
        // If some checkboxes are checked, click the ones that are unchecked
        if (!checkboxes.every((x, _, a) => x.checked == a[0].checked))
            checkboxes.filter(x => !x.checked).forEach(x => x.click())
        else // Click all the checkboxes
            checkboxes.forEach(x => x.click())
    }
    function onChanged(shiftClicked) {
        if (shiftClicked.length != 2)
            return
        const checkboxes = Array.from(document.querySelectorAll('#timeslot-body input[type=checkbox]'))
        const [checkA, checkB] = shiftClicked
        const [indexA, indexB] = [checkboxes.indexOf(checkA), checkboxes.indexOf(checkB)].sort()
        const checks = checkboxes.slice(indexA+1, indexB)
        if (!checks.every((x, _, a) => x.checked == a[0].checked))
            checks.filter(x => !x.checked).forEach(x => x.click())
        else
            checks.forEach(x => x.click())
        shiftClicked.pop()
        shiftClicked.pop()
    }
</script>
{{ block.super }}
{% endblock scripts %}