{% extends 'app/layouts/base.html' %}

{% block title %}Create Timeslots{% endblock title %}

{% block body %}
    {% if errors %}
        <div class="alert alert-danger" role="alert">
          {{ errors }}
        </div>
    {% endif %}
    <div class="d-flex justify-content-center align-items-center h-75">
        <div class="card w-75 h-50">
            <div class="card-header text-center">
                <h2 class="mt-2">Create Timeslots</h2>
            </div>
            <div class="card-body">
                <form method="POST" v-scope="{ multipleTimeslots: false }">
                    {% csrf_token %}
                    <div class="row g-2" v-scope="{ fromDate: '' }">
                        <div class="form-check form-switch mb-3">
                            <input class="form-check-input" type="checkbox" id="multiple_timeslots" @click="multipleTimeslots = $el.checked" name="multiple_timeslots">
                            <label class="form-check-label" for="multiple_timeslots">
                                <template v-if="multipleTimeslots">Multiple Timeslots</template>
                                <template v-else>Single Timeslot</template>
                            </label>
                        </div>
                        <div class="mb-3 col">
                            <label for="from_date" class="form-label">Date From</label>
                            <input type="date" class="form-control" id="from_date" name="from_date" v-model="fromDate">
                        </div>
                        <div class="mb-3 col">
                            <label for="to_date" class="form-label">Date To</label>
                            <template v-if="!multipleTimeslots">
                                {% comment %} The disabled date field is just for show {% endcomment %}
                                <input v-model="fromDate" type="date" class="form-control" id="to_date" name="to_date" disabled>
                                <input v-model="fromDate" type="hidden" class="form-control" id="to_date" name="to_date">
                            </template>
                            <input v-else type="date" class="form-control" id="to_date" name="to_date">
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="mb-3 col">
                            <label for="from_time" class="form-label">Time From</label>
                            <input type="time" class="form-control" id="from_time" name="from_time">
                        </div>
                        <div class="mb-3 col">
                            <label for="to_time" class="form-label">Time To</label>
                            <input type="time" class="form-control" id="to_time" name="to_time">
                        </div>
                    </div>
                    
                    <div v-show="multipleTimeslots">
                        <div class="mb-3">
                            <label for="timeslot_length" class="form-label">Timeslot Length</label>
                            <input type="number" class="form-control" id="timeslot_length" aria-describedby="timeslotLengthHelp" name="timeslot_length" v-bind:disabled="!multipleTimeslots">
                            <div id="timeslotLengthHelp" class="form-text">This is the length of each timeslot in minutes, between the start time and the end time.</div>
                        </div>
                        <div class="mb-3">
                            <label for="timeslot_break" class="form-label">Timeslot Break</label>
                            <input type="number" class="form-control" id="timeslot_break" aria-describedby="timeslotBreakHelp" name="timeslot_break" v-bind:disabled="!multipleTimeslots">
                            <div id="timeslotBreakHelp" class="form-text">This is the length of time in minutes, between each of the timeslot lengths.</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="openings" class="form-label">Openings</label>
                        <input type="number" min="0" class="form-control" id="openings" aria-describedby="openingsHelp" name="openings">
                        <div id="openingsHelp" class="form-text">The number of openings for each timeslot.</div>
                    </div>

                    <fieldset class="text-center">
                        <button class="btn btn-primary w-50" type="submit">Create</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}