<div class="card auto">
    <div class="card-body d-flex">
        <div
            class="d-flex align-items-center ps-4 pe-5"
            v-scope="{ checkbox: false }"
            @click="checkbox = !checkbox; checked += checkbox ? 1 : -1">
            <input
                type="checkbox"
                v-bind:checked="checkbox"
                name="timeslot_date" 
                value="{{ date|date:"c" }}" 
                style="width: 30px; height: 30px"
                @changed="checkbox = !checkbox; checked += checkbox ? 1 : -1" />
        </div>
        <div>
            <h2><a href="{% url "schedule-day" schedule.id date %}" class="text-decoration-none"> {{ date }} </a></h2>
            <h4>x available, j Taken, From {{ from_time.time_from.time }} to {{ to_time.time_to.time }}</h4>
        </div>
    </div>
</div>
