@use "../bootstrap/variables";

html > * {
    transition:
        background-color 0.3s,
        color 0s,
        border-color 0s;
}

.dark-root, .anti-flashbang:not(.light-root) {
    // Sass has its own rgb function that is incompatible with CSS variables
    // These variables force scss to input the proper usage of rgb literally
    $bs-dark-rgb: unquote("rgb(var(--bs-dark-rgb))");
    $bs-light-rgb: unquote("rgb(var(--bs-light-rgb))");
    * {
        --bs-body-bg: #121212;
        --bs-body-color: #dddddd;
        // These values should be 3 value lists, with rgb
        --bs-dark-rgb: 221, 221, 221;
        --bs-light-rgb: 16, 16, 16;
        --form-select-indicator: var(--form-select-indicator-dark);
    }

    .accordion-button, .accordion-collapse, .accordion-item {
        background-color: #353535 !important;
    }

    .invert-on-dark {
        filter: invert(1);
    }


    h1, h2, h3, h4, h5, h6, span, label, button {
        color: $bs-dark-rgb;
    }

    .btn-outline-primary, .btn-outline-secondary, .btn-outline-danger, .btn-outline-warning, .btn-outline-success, .btn-outline-info {
        &:hover {
            color: black;
        }
        color: $bs-dark-rgb;
    }

    .btn-secondary, .btn-warning, .btn-info {
        color: black;
    }

    .navbar-toggler-icon {
        filter: invert(1);
    }

    hr {
        background-color: $bs-dark-rgb !important;
    }

    .dropdown-item {
        &:hover {
            background-color: $bs-light-rgb !important;
        }
        color: $bs-dark-rgb
    }

    .card {
        background-color: #232323 !important;
        border: solid rgb(77, 77, 77) 1px;
    }

    .nav-link {
        color: $bs-dark-rgb !important;
    }

    .btn-link, a:not(.btn, .dropdown-item) {
        color: rgb(113, 179, 199);
    }

    .navbar-light .navbar-brand {
        color: #eeeeee !important;
    }

    input {
        color-scheme: dark;
    }

    .form-control, .form-select {
        &:disabled {
            color: gray !important;
            background-color: #222222 !important;
        }

        &:focus {
            background-color: #313131 !important;
            color: white !important;
        }

        background-color: #313131 !important;
        color: white !important;

    }

    .form-floating label {
        color: white !important;
    }

    .list-group-item {
        color: white !important;
        background-color: unset !important;
        border-color: #ffffff !important;
    }

    .list-group-item:hover {
        color: $bs-dark-rgb !important;
    }

    .toast {
        background-color: #232323 !important;
    }

    .toast-header {
        background-color: #313131 !important;
    }

    .dropdown-menu {
        background-color: #232323 !important;
    }
}
