

.main-content {
    padding-top: 30px;
}

@media all and (min-width: 992px) {
    .sidebar {
        width: 25%;
        float: left;
    }

    .main-content {
        float: left;
        width: calc(75% - 16px);
    }
}