.btn-outline-primary {
    color: #688B58;
    border-color: #688B58;
    // need other psuedo-classes
    &:hover, &:active, &:focus, &:focus-visible {
        background-color: #688B58;
        border-color: #688B58;
        color: white;
    }
}

.btn-primary {
    border-color: #688B58;
    background-color: #688B58;
    color: white;
    // need other psuedo-classes
    &:hover, &:active, &:focus, &:focus-visible {
        background-color: transparent;
        border-color: #688B58;
        color: #688B58;
    }
}

.schedule-header-controls {
    padding: 15px 0;

    .link-primary, .link-danger, .link-secondary {
        display: inline-block;
        padding: 0 10px;
        text-decoration: none;
        border: none;
        background: none;
        white-space: nowrap;
        &:hover, &:active, &:focus, &:focus-visible {
            text-decoration: underline;
        }
    }
    .link-primary {
        color: #688B58;
        &:hover, &:active, &:focus, &:focus-visible {
            color: hsl(101, 22%, 25%)
        }
    }
    .link-danger {
        border: none;
        background: none;
    }

}

select:required:invalid {
    color: #666;
  }
  option[value=""][disabled] {
    display: none;
  }

.feedback {
    ul {
        padding: 0;
        padding-left: 16px;
        margin: 0;
        list-style-type: symbols(cyclic '*');
        font-style: italic;
        font-size: small;
    }
}