{% extends 'app/layouts/base.html' %}
{% block title %}About{% endblock title %}

{% block body %}

    <h1 class="text-center px-4 display-3">About ratatoskr</h1>
    <hr>
    <div class="container">
        <div class="row mb-1">
            <div class="col d-flex align-items-center justify-content-center"><h1 class="text-center display-6">The purpose of ratatoskr</h1></div>
            <div class="col d-flex align-items-center justify-content-center"><h1 class="text-center display-6">The Team</h1></div>
            <div class="col d-flex align-items-center justify-content-center"><h1 class="text-center display-6">Why "ratatoskr"?</h1></div>
        </div>
        <div class="row">
            <div class="col">
                
                <p class="text-center">
                    Ratatoskr is a modern meeting scheduling app made for teachers.
                    It uses modern design principles making it easy and intuitive to use
                    on all platforms.

                    
                </p>
            </div>
            <div class="col">
                <h2 class="text-center lead" style=""><b>Seamus Smith - Lead Developer</b></h2>
                <h2 class="text-center lead" style="">Damian Jadczak - Developer</h2>
                <h2 class="text-center lead" style="">Jack Richard - Developer</h2>
                <h2 class="text-center lead" style="">Ahmed Xayan - Contributor</h2>
                <h2 class="text-center lead" style="">Ricardo Mendez - Contributor</h2>
                <h2 class="text-center lead" style="">Benedict Antwi - Play Tester</h2>
            </div>
            <div class="col">
                <figure class="">
                    <blockquote class="blockquote" style="font-size: 12pt">
                        <p>
                            In Norse mythology, Ratatoskr is a squirrel who runs up and down the world tree
                            Yggdrasil to carry messages between the eagle perched atop Yggdrasil, and the serpent
                            Níðhöggr.
                        </p>
                    </blockquote>
                    <figcaption class="blockquote-footer" style="font-size: 18pt">
                        <cite title="Source Title"><a href="">Wikipedia</a></cite>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>

{% endblock body %}