{% extends 'app/layouts/base.html' %}
{% block title %}Contact{% endblock title %}

{% block body %}

    <h1 class="display-3">Contact us!</h1>
    <p class="lead">You may contact us through the following channels:</p>
    <div class="row">
        <div class="col-lg-6">
            <section class="d-lg-inline-block d-flex flex-column justify-content-center w-100">
                <h3>Send us a message</h3>
                <form class="card d-inline-block w-100" action="POST">
                    <div class="card-body">
                        <textarea class="my-1 form-control" name="message" rows="5" placeholder="Enter your message..." required></textarea>
                        <input class="my-1 form-control" type="text" name="contact_info" id="" placeholder="Contact info (optional)">
                        <label class="lead">Message type:</label>
                        <fieldset id="message-type">
                            {# just add to this list here to add another message type #}
                            <template v-for="(item, i) in ['Bug Report', 'Question', 'Comment', 'Suggestion']">
                                <div>
                                    <input type="radio" name="message_type" v-bind:value="item" v-bind:id="i" required>
                                    <label v-bind:for="i">${ item }</label>
                                </div>
                            </template>
                        </fieldset>
                        <button class="btn btn-primary w-100 my-2" type="submit">Send!</button>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-6">
            <div class="row">
                <section>
                    <h3>Email us</h3>
                    <p>Our email is <a href="mailto:ratatoskr@techhigh.us">ratatoskr@techhigh.us</a></p>
                </section>
            </div>
            <div class="row">
                <section>
                    <h3>Submit a GitHub Issue</h3>
                    <p>
                        We are open source on GitHub! 
                        If you have a GitHub account, you can <a href="https://github.com/worcestertechnicalhighschool/ratatoskr/issues">submit an issue</a> there.
                    </p>    
                </section>
            </div>
            <div class="row">
                <section>
                    <h3>Come see us at Worcester Tech</h3>
                    <p>
                        We are work in room B216!
                    </p>
                    <h5>Or you can meet us at these coordinates:</h5>
                    <p>
                        Latitude: 42.27717596333914 / N 42° 16' 37.833''<br/>
                        Longitude: -71.77783864112546 / W 71° 46' 40.219''
                    </p>    
                </section>
            </div>
        </div>
    </div>
    

{% endblock body %}