{% extends 'app/layouts/base.html' %}
{% block title %}Contact{% endblock title %}

{% block body %}

    <h1 class="display-3">Contact us!</h1>
    <p class="lead">You may contact us through the following channels:</p>

    <section class="my-3 d-lg-block d-flex flex-column justify-content-center">
        <h3>Send us an anonymous message</h3>
        <form class="card d-inline-block" style="min-width: 50%;" action="POST">
            <div class="card-body">
                <textarea class="my-1 form-control" name="message" rows="5" placeholder="Enter your message..." required></textarea>
                <input class="my-1 form-control" type="text" name="contact_info" id="" placeholder="Contact email (optional)">
                <label class="lead">Message type:</label>
                <fieldset id="message-type">
                    <template v-for="(item, i) in ['Bug Report', 'Question', 'Comment', 'Suggestion']">
                        <div>
                            <input type="radio" name="message_type" v-bind:value="item" v-bind:id="i" required>
                            <label v-bind:for="i">${ item }</label>
                        </div>
                    </template>
                </fieldset>
                <button class="btn btn-primary w-100 my-2" type="submit">Send!</button>
            </div>
        </form>
    </section>
    
    <h3>Email us</h3>
    <p>Our email is <a href="mailto:ratatoskr@techhigh.us">ratatoskr@techhigh.us</a></p>

    <h3>Submit a GitHub Issue</h3>
    <p>We are open source! If you have a GitHub account, you can <a href="https://github.com/worcestertechnicalhighschool/ratatoskr/issues">submit an issue</a> there.</p>


{% endblock body %}