{% extends 'app/layouts/base.html' %}

{% block title %}Copy Timeslots{% endblock title %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center h-75">
        <div class="card w-75 h-50">
            <div class="card-header text-center">
                <h2 class="mt-2">Copy Timeslots</h2>
            </div>
            <div class="card-body">
                <form method="POST" v-scope="{ copyTimeslots: true }">
                    {% csrf_token %}
                    <p class="card-text fw-bold">Copying the following timeslots:<br></p>
                    <ul>
                        {% for timeslot in timeslots %}
                            <li>{{ timeslot.time_from|date:'M d: h:i A' }} - {{ timeslot.time_to|date:'h:i A' }}</li>
                        {% endfor %}
                    </ul>

                    <div class="row g-2">
                        <div class="mb-3 col">
                            <label for="from_date" class="form-label">Original Start Date</label>
                            <input type="date" class="form-control" id="from_date" name="from_date" value="{{ timeslots.0.time_from|date:'Y-m-d' }}" disabled>
                        </div>
                        <div class="mb-3 col">
                            <label for="from_time" class="form-label">Original Start Time</label>
                            <input type="time" class="form-control" id="from_time" name="from_time" value="{{ timeslots.0.time_from|date:'H:i:s' }}" disabled>
                        </div>
                    </div>

                    <div class="row g-2">
                        <div class="mb-3 col">
                            <label for="to_date" class="form-label">Copy To Date</label>
                            <input type="date" class="form-control" id="to_date" name="to_date">
                        </div>
                        <div class="mb-3 col">
                            <label for="to_time" class="form-label">Copy To Time</label>
                            <input type="time" class="form-control" id="to_time" name="to_time">
                        </div>
                    </div>

                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" id="copy_timeslots" @click="copyTimeslots = $el.checked" name="copy_timeslots" checked>
                        <label class="form-check-label" for="copy_timeslots">
                            <template v-if="copyTimeslots">Copy Timeslots</template>
                            <template v-else>Move Timeslots</template>
                        </label>
                    </div>

                    <fieldset class="text-center">
                        <button class="btn btn-primary w-50" type="submit">
                            <template v-if="copyTimeslots">Copy</template><template v-else>Move</template> Timeslot{{ timeslots|length|pluralize }}
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}