{% extends 'app/layouts/base.html' %}
{% load socialaccount %}

{% block title %}Create Schedule{% endblock title %}

{% block head %}{% endblock head %}

{% block body %}
    {% comment %} autoLockEnabled is what handles the disabled state of the auto lock date input {% endcomment %}
<div class="d-flex justify-content-center align-items-center h-75">
    <div class="card w-50 h-50">
        <div class="card-header text-center">
            <h2 class="mt-2">Create Schedule</h2>
        </div>
      <div class="card-body">
        <form action="{% url "create-schedule" %}" method="POST" v-scope="{ autoLockEnabled: false }">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" id="name" name="name" class="form-control" placeholder="My New Schedule" />
                <label for="name">Name</label>
            </div>
            <fieldset>
                {% comment %} Checkbox controls the expansion of the autoLockAfter form field {% endcomment %}
                <input
                    type="checkbox"
                    id="should_lock_automatically"
                    name="should_lock_automatically"
                    @click="autoLockEnabled = $el.checked"/>
                <label for="should_lock_automatically">Lock schedule automatically</label>
                <div v-show="autoLockEnabled" id="autoLock">
                    <h5><label for="auto_lock_after">Lock Automatically After</label></h5>
                    <input type="datetime-local" name="auto_lock_after" v-bind:disabled="!autoLockEnabled" class="form-control" />
                </div>
            </fieldset>
            <br>
            <fieldset class="text-center">
                <button class="btn btn-primary w-50" name="submit" type="submit">Create</button>
            </fieldset>
        </form>
      </div>
    </div>
</div>
{% endblock body %}
