{% extends 'app/layouts/base.html' %}

{% load bootstrap5 %}

{% block title %}Create Timeslots{% endblock title %}

{% block body %}

<div class="d-flex justify-content-center align-items-center h-75">
    <div class="card w-100" style="max-width: 750px;">
        <div class="card-header text-center">
            <h2 class="mt-2">Create Timeslots</h2>
        </div>
        <div class="card-body">
            <form action="" class="form" method="post">
                {% csrf_token %}
                {% bootstrap_form form exclude="multiple_timeslots, timeslot_length, timeslot_break" %}
                <div class="form-check form-switch mb-3">
                    <input 
                        type="checkbox" 
                        name="multiple_timeslots" 
                        role="switch" class="form-check-input" 
                        id="id_multiple_timeslots"><label 
                            class="form-check-label" 
                            for="id_multiple_timeslots">Multiple timeslots</label>
                </div>
                {% bootstrap_field form.timeslot_length %}
                {% bootstrap_field form.timeslot_break %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary w-50 d-block m-auto" type="submit">Create</button>
                {% endbuttons %}

            </form>
        </div>
    </div>
</div>
    
{% endblock body %}

{% block scripts %}
<script>
    const toggle = document.querySelector('#id_multiple_timeslots');
    const toDate = document.querySelector('#id_to_date');
    const tsLen = document.querySelector('#id_timeslot_length');
    const tsBreak = document.querySelector('#id_timeslot_break');

    toggle.addEventListener('change', setCheckState)
    setCheckState();

    function setCheckState() {
        if (toggle.checked) {
            toDate.value = document.querySelector('#id_from_date').value;
            toDate.readOnly=false;
            tsLen.disabled=false;
            tsLen.value="30"
            tsBreak.disabled=false;
            tsBreak.value="5";
        } else {
            toDate.readOnly=true;
            tsLen.disabled=true;
            tsLen.value=""
            tsBreak.disabled=true;
            tsBreak.value="";
        }
    }
</script>
{% endblock scripts %}