{% extends 'app/layouts/base.html' %}
{% load socialaccount %}

{% block title %}Create Schedule{% endblock title %}

{% block head %}{% endblock head %}

{% block body %}
    {% comment %} autoLockEnabled is what handles the disabled state of the auto lock date input {% endcomment %}
<div class="d-flex justify-content-center align-items-center h-75">
    <div class="card w-100" style="max-width: 750px;">
        <div class="card-header text-center">
            <h2 class="mt-2">Create Schedule</h2>
        </div>
        <div class="card-body">
            <form action="{% url 'create-schedule' %}" method="POST" v-scope="{ autoLockEnabled: false, loading: false }" @submit="loading = true">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="text" id="name" name="name" class="form-control" placeholder="My New Schedule" />
                    <label for="name">Name</label>
                </div>
                <fieldset>
                    {% comment %} Checkbox controls the expansion of the autoLockAfter form field {% endcomment %}
                    <input
                        type="checkbox"
                        id="should_lock_automatically"
                        name="should_lock_automatically"
                        @click="autoLockEnabled = $el.checked"/>
                    <label for="should_lock_automatically">Lock schedule automatically</label>
                    <div class="mt-2" id="autoLock">
                        <h5><label for="auto_lock_after">Lock Automatically After</label></h5>
                        <input type="datetime-local" id="auto_lock_after" name="auto_lock_after" v-bind:disabled="!autoLockEnabled" class="form-control" />
                    </div>
                </fieldset>
                <div class="my-3">
                    <label for="visibility-select" class="form-label">Visibility</label>
                    <select class="form-select" aria-label="Schedule Visibility" id="visibility-select" aria-describedby="visibilityHelp" name="visibility_select">
                    <option selected value="A">Public</option>
                    <option value="U">Unlisted</option>
                    <option value="P">Private</option>
                    </select>
                    <div id="visibilityHelp" class="form-text">Choose your visibility to restrict access to your schedule.</div>
                </div>
                <br>
                <fieldset class="text-center">
                    <button class="btn btn-primary w-50" name="submit" type="submit" v-bind:disabled="loading">
                        <template v-if="loading">
                            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                            Loading...
                        </template>
                        <span v-else>Create</span>
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock body %}
