{% extends 'app/layouts/base.html' %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block body %}    
    <section class="d-flex justify-content-center align-items-center pb-6" style="height: 73vh">
        <div>
            <h1 class="display-1">ratatoskr</h1>
            <p class="lead"></p>
        </div>
    </section>
    <div class="text-center pb-5 mb-5">
        <a href="#look" class="btn btn-success btn-circle shadow-sm">
            <h3 class="display-5"><i class="fa-solid fa-arrow-down-long"></i></h3>
        </a>
    </div>
    <section class="row flex-lg-row-reverse align-items-center g-5 py-5"  id="look">
        <div class="col-lg-6">
            <h1 class="display-5 mb-3">Take a look</h1>
            <p class="lead">It works.</p>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
            <!-- Using a placeholder for now -->
            <img src="{% static 'assets/placeholder.jpg' %}" class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
    </section>
    <section class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <!-- Using a placeholder for now -->
            <img src="{% static 'assets/placeholder.jpg' %}" class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 mb-3">Take a look</h1>
            <p class="lead">It works.</p>
        </div>
    </section>
    <section class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
            <h1 class="display-5 mb-3">Take a look</h1>
            <p class="lead">It works.</p>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
            <!-- Using a placeholder for now -->
            <img src="{% static 'assets/placeholder.jpg' %}" class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
    </section>
{% endblock body %}