{% extends 'app/layouts/base.html' %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block body %}
    <section class="d-flex flex-column justify-content-center align-items-center pb-2" style="height: 100vh">
        <div class="text-center">
            <h1 class="display-1">ratatoskr</h1>
            <hr>
            <p class="lead">Worcester Tech's Meeting Scheduling System</p>
        </div>
        <div class="pt-5 mt-5"></div>

        <div class="text-center pt-5 mt-5">
            {% comment %}
                Hiding this button from aria because a hard of seeing person would not have that much a use for this button...
            {% endcomment %}
            <a href="#look" class="btn btn-success btn-circle shadow-sm animate" aria-hidden="true">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <h1 class="mb-1" style="font-size: 40px"><i class="fa-solid fa-arrow-down-long"></i></h1>
                </div>
            </a>
        </div>
    </section>

    <section class="row flex-lg-row-reverse align-items-center g-5 py-5"  id="look">
        <div class="col-lg-6">
            <h1 class="display-5 mb-3">Lorem ipsum dolor </h1>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
            <!-- Using a placeholder for now -->
            <img src="{% static 'assets/placeholder.jpg' %}" class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
    </section>
    <section class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <!-- Using a placeholder for now -->
            <img src="{% static 'assets/placeholder.jpg' %}" class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 mb-3">Lorem ipsum dolor</h1>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </section>
    <section class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
            <h1 class="display-5 mb-3">Lorem ipsum dolor</h1>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
            <!-- Using a placeholder for now -->
            <img src="{% static 'assets/placeholder.jpg' %}" class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
    </section>
{% endblock body %}