{% extends 'app/layouts/schedule_base.html' %}
{% load static %}

{% block title %}{{ schedule.name }}'s Reservations{% endblock title %}

{% block schedule_head %}
    <div class="d-inline-flex p-2">
        <h3 class="mb-0">
            <a href="{% url 'schedule' schedule.id %}" class="ms-2 me-3">
                <i class="fas fa-chevron-left"></i>
            </a>
        </h3>
    </div>
    <h3 class="d-inline-block mb-0">Reservations for {{ schedule.name }}</h3>
{% endblock schedule_head %}

{% block schedule_body %}
    {% if timeslots %}
        {% for day in timeslots %}
        <h3 class="my-3">{{ day.0 }}</h3>
        <div class="accordion" id="reservation-list-{{ forloop.counter }}">
          {% for timeslot in day.1 %}
              {% for reservation in timeslot.reservations %}
                {% with forloop.parentloop.parentloop.counter|concatenate:forloop.parentloop.counter|concatenate:forloop.counter as identifier %}
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-{{ identifier }}">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ identifier }}" aria-controls="collapse-{{ identifier }}">
                        <span class="text-muted">{{ timeslot.timeslot.time_from|date:'h:i A' }} - {{ timeslot.timeslot.time_to|date:'h:i A' }}</span>&nbsp;&nbsp;{{ reservation.name }}
                      </button>
                    </h2>
                    <div id="collapse-{{ identifier }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ identifier }}" data-bs-parent="#reservation-list-{{ forloop.counter }}">
                      <div class="accordion-body">
                        <form method="POST" action="" class="m-0 p-0">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ reservation.id }}">
                            <button onclick="return confirm(`Are you sure you want to cancel this reservation?`)" name="action" value="cancel" class="btn btn-danger">
                                <i class="fa-solid fa-xmark"></i> Cancel Reservation
                            </button>
                            <button type="button" class="btn btn-primary" onclick="window.location.href = `mailto:{{ reservation.email }}`;">
                                <i class="fa-solid fa-envelope"></i> Email
                            </button><br>
                            <p class="mt-4">
                                <b>Name</b>&nbsp;&nbsp;{{ reservation.name }}<br>
                                <b>Email</b>&nbsp;&nbsp;{{ reservation.email }}<br>
                                <b>Comments</b>&nbsp;&nbsp;{{ reservation.comment }}
                            </p>
                        </form>
                      </div>
                    </div>
                  </div>
                {% endwith %}
              {% endfor %}
          {% endfor %}
        </div>
        {% endfor %}
    {% else %}
        <p class="text-center mt-3">It looks like nobody has reserved a slot yet...</p>
    {% endif %}
{% endblock schedule_body %}
