{% extends 'app/layouts/schedule_base.html' %}
{% load static %}

{% block title %}{{ schedule.name }}'s Reservations{% endblock title %}

{% block schedule_head %}
    <div class="d-inline-flex p-2">
        <h3 class="mb-0">
            <a href="{% url 'schedule-day' schedule.id timeslot.time_from.date|date:'c' %}" class="ms-2 me-3">
                <i class="fas fa-chevron-left"></i>
            </a>
        </h3>
    </div>
    <h3 class="d-inline-block mb-0">Reservations for {{ timeslot.time_from }} to {{ timeslot.time_to }}</h3>
{% endblock schedule_head %}

{% block schedule_body %}
    {% if reservations %}
    <div class="accordion" id="reservation-list">
      {% for reservation in reservations %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading-{{ forloop.counter }}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ forloop.counter }}" aria-controls="collapse-{{ forloop.counter }}">
            {{ reservation.name }}
          </button>
        </h2>
        <div id="collapse-{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ forloop.counter }}" data-bs-parent="#reservation-list">
          <div class="accordion-body">
            <form method="POST" action="" class="m-0 p-0">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ reservation.id }}">
                <a onclick="return confirm(`Are you sure you want to cancel this reservation?`)" name="action" value="cancel" class="btn btn-danger">
                    <i class="fa-solid fa-xmark"></i> Cancel Reservation
                </a>
                <a type="button" class="btn btn-primary" onclick="window.location.href = `mailto:{{ reservation.email }}`;">
                    <i class="fa-solid fa-envelope"></i> Email
                </a><br>
                <p class="mt-4">
                    <b>Name</b>&nbsp;&nbsp;{{ reservation.name }}<br>
                    <b>Email</b>&nbsp;&nbsp;{{ reservation.email }}<br>
                    <b>Comments</b>&nbsp;&nbsp;{{ reservation.comment }}
                </p>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
        <p class="text-center mt-3">It looks like nobody has reserved a slot yet...</p>
    {% endif %}
{% endblock schedule_body %}
