{% extends 'app/layouts/schedule_base.html' %}
{% load static %}

{% block title %}{{ schedule.name }} | Reservation{% endblock title %}

{% block schedule_head %}
    <div class="d-inline-flex">
        <h3>
            <a href="{% url 'schedule-day' schedule.id timeslot.time_from.date|date:'c' %}" class="ms-2 me-3">
                <i class="fas fa-chevron-left"></i>
            </a>
        </h3>
    </div>
    <h3 class="d-inline-block">Reserving timeslot from {{ timeslot.time_from }} to {{ timeslot.time_to }}</h3>
{% endblock schedule_head %}

{% block schedule_body %}
    <h2>Please fill in the following information</h2>
    <h5>The email you put in will recieve a confirmation email</h5>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Reserve</button>
    </form>
{% endblock schedule_body %}
