{% extends 'app/layouts/schedule_base.html' %}

{% block schedule_head %}
    <h3>Available Days</h1>
{% endblock schedule_head %}

{% block schedule_body %}
    {% for date, group in timeslots.items %}
        {% timeslot_date date schedule %}
    {% empty %}
    <div class="text-center">
        <p class="m-2">Looks like there are no available timeslots...</p>
        {% if user.is_staff and user == schedule.owner %}
            <a href="#" class="btn btn-primary">Why not create some?</a>
        {% endif %}
    </div>
    {% endfor %}
{% endblock schedule_body %}