{% extends 'app/layouts/schedule_base.html' %}

{% block schedule_head %}
    <div class="d-inline-flex">
        <h3>
            <a href="{% url 'schedule' schedule.id %}" class="ms-2 me-3">
                <i class="fas fa-chevron-left"></i>
            </a>
        </h3>
    </div>
    <h3 class="d-inline-block">Available Timeslots for {{ date.date }}</h3>
{% endblock schedule_head %}

{% block schedule_body %}
    {% for timeslot in timeslots %}
        <div class="card d-flex">
            <div class="card-body d-flex">
                {% if schedule.owner == user %}
                    <div
                        class="d-flex align-items-center ms-1 me-4"
                        v-scope="{ checkbox: false }">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        name="timeslot_id" 
                        value="{{ timeslot.id }}" 
                        style="width: 30px; height: 30px"
                        @change="checked += $el.checked ? 1 : -1" />
                    </div>
                {% endif %}
                <div class="d-flex flex-grow-1">
                    <a href="#" class="text-decoration-none {% if timeslot.is_locked %}disabled{% endif %}">
                        <h4>{{ timeslot.time_from.time }} to {{ timeslot.time_to.time }}</h4>
                    </a>
                    {% if timeslot.is_locked %}
                        <i
                            class="fas fa-lock d-inline-block h2 my-auto ms-3 text-secondary"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            title="This timeslot is locked"></i>
                    {% endif %}
                    <a href="#" class="btn btn-primary ms-auto {% if timeslot.is_locked %}disabled{% endif %}">Reserve <i class="fas fa-arrow-right ms-1"></i></a>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="pt-2">
            <p class="text-center"> It seems that there are no timeslots for this day...</p>
        </div>
    {% endfor %}
{% endblock schedule_body %}