{% extends 'app/layouts/schedule_listing.html' %}

{% block schedule_head %}
    <div class="d-flex align-items-center">
        <h3>Available Days</h3>
        {% if schedule.owner == user %}
            <a class="btn btn-primary ms-auto" href="{% url "create-timeslots" schedule.id %}">+ Add Timeslots</a>
        {% endif %}
    </div>
{% endblock schedule_head %}

<!--
{% block schedule_body1 %}
    {% for date, data in timeslots.items %}
        <div class="card auto">
            <div class="card-body d-flex">
                {% if schedule.owner == user %}
                    <div
                        class="d-flex align-items-center ms-1 me-4"
                        v-scope="{ checkbox: false }">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        name="timeslot_date" 
                        value="{{ date|date:"c" }}" 
                        style="width: 30px; height: 30px"
                        @click.shift="shiftClicked.push($el)"
                        @change="checked += $el.checked ? 1 : -1" />
                    </div>
                {% endif %}
                <div>
                    <h2><a href="{% url "schedule-day" schedule.id date %}" class="text-decoration-none"> {{ date }} </a></h2>
                    <h4>{{ data.available }} available, {{ data.taken }} Taken, From {{ data.from.time }} to {{ data.to.time }}</h4>
                </div>
                {% if data.all_locked %}
                    <i class="fas fa-lock d-inline-block h2 my-auto ms-3 text-secondary"></i>
                {% endif %}
            </div>
        </div>
    {% empty %}
    <div class="text-center">
        <p class="m-2">Looks like there are no available timeslots...</p>
        {% if user.is_staff and user == schedule.owner %}
            <a href="{% url "create-timeslots" schedule.id %}" class="btn btn-primary">Why not create some?</a>
        {% endif %}
    </div>
    {% endfor %}
{% endblock schedule_body1 %}-->

{% block schedule_body %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.css" rel="stylesheet" />

{{ timeslots|json_script:"timeslots_data" }}

<script>
  var timeslots = JSON.parse(JSON.parse(document.getElementById('timeslots_data').textContent));

  document.addEventListener('DOMContentLoaded', function() {
    var d = new Date();
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'timeGridWeek',
      slotMinTime: "07:00:00",
      slotMaxTime: "14:00:00",
      slotDuration: "00:15:00",
      weekends: false,
      allDaySlot: false,
      validRange: function(nowDate) {
        return {
          start: nowDate
        };
      }
    });
    calendar.render();

    timeslots.forEach((timeslot) => {
        var data = {
            "start": new Date(timeslot["fields"]["time_from"]),
            "end": new Date(timeslot["fields"]["time_to"]),
            "locked": timeslot["fields"]["is_locked"],
            "limit": timeslot["fields"]["reservation_limit"]
        };
        calendar.addEvent(data);
    });

    calendarEl.querySelector(".fc-toolbar").classList.add("card-header");
    calendarEl.querySelector(".fc-timegrid").style.margin = "10px";
  });

</script>

<div id='calendar' class="card"></div>
<br><br>
{% endblock schedule_body %}
