{% extends 'app/layouts/base.html' %}

{% block title %}{{ schedule.name }}{% endblock title %}

{% block body %}
    <h1>{{ schedule.name }}</h1>
    <h3>By {{ schedule.owner.socialaccount_set.all.0.extra_data.name }}</h3>
    <div class="card p-2">
        <div class="card-body overflow-auto" style="white-space:nowrap">
            {% for date, group in timeslots.items %}
                <div class="card d-inline-block w-25" style="height: 75vh">
                    <div class="card">{{ date }}</div>
                    {% for timeslot in group %}
                        <div class="card">{{ timeslot.time_from }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock body %}