{% extends 'app/layouts/schedule_listing.html' %}
{% load mathfilters %}

{% block schedule_head %}
    <div class="d-inline-flex p-2">
        <h3 class="mb-0">
            <a href="{% url 'schedule' schedule.id %}" class="ms-2 me-3">
                <i class="fas fa-chevron-left"></i>
            </a>
        </h3>
    </div>
    <h3 class="d-inline-block mb-0">Available Timeslots for {{ date.date }}</h3>
{% endblock schedule_head %}

{% block schedule_body %}
    {% for timeslot in timeslots %}
        <div class="card d-flex">
            <div
                class="card-body d-flex"
                {% if timeslot.is_locked %}
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="This timeslot is locked."
                {% elif timeslot.reservation_set.count >= timeslot.reservation_limit %}
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="This timeslot is full."
                {% endif %}>
                {% if schedule.owner == user %}
                    <div
                        class="d-flex align-items-center ms-1 me-4"
                        v-scope="{ checkbox: false }">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        name="timeslot_id" 
                        value="{{ timeslot.id }}" 
                        style="width: 30px; height: 30px"
                        @click.shift="shiftClicked.push($el)"
                        @change="checked += $el.checked ? 1 : -1" />
                    </div>
                {% endif %}
                <div class="d-flex flex-column flex-lg-row flex-grow-1 align-items-center">
                    {% if schedule.owner == user %}
                        <a
                            href="{% url 'view-reservations' schedule.id timeslot.time_from.date timeslot.id %}"
                            class="text-decoration-none {% if timeslot.reservation_set.count < 1 %}disabled{% endif %}">
                            <h4 class="mb-0">{{ timeslot.time_from.time }} to {{ timeslot.time_to.time }}</h4>
                        </a>
                        {% if timeslot.is_locked %}
                            <i class="fas fa-lock d-inline-block h2 my-auto ms-3 text-secondary"></i>
                        {% elif timeslot.reservation_set.count >= timeslot.reservation_limit %}
                            <i class="fa-solid fa-users-slash d-inline-block h2 my-auto ms-3 text-secondary"></i>
                        {% endif %}
                        <a
                            href="{% url 'view-reservations' schedule.id timeslot.time_from.date timeslot.id %}"
                            class="btn btn-primary ms-lg-auto mt-3 mt-lg-0 {% if timeslot.reservation_set.count < 1 %}disabled{% endif %}">
                            View {{ timeslot.reservation_set.count }} Reserved Slot{{ timeslot.reservation_set.count|pluralize }}
                            <i class="fas fa-arrow-right ms-1"></i>
                        </a>
                    {% else %}
                        <a
                            href="{% url 'reserve-timeslot' schedule.id timeslot.time_from.date timeslot.id %}"
                            class="text-decoration-none {% if timeslot.is_locked or timeslot.reservation_set.count >= timeslot.reservation_limit %}disabled{% endif %}">
                            <h4 class="mb-0">{{ timeslot.time_from.time }} to {{ timeslot.time_to.time }}</h4>
                        </a>
                        {% if timeslot.is_locked %}
                            <i class="fas fa-lock d-inline-block h2 my-auto ms-3 text-secondary"></i>
                        {% elif timeslot.reservation_set.count >= timeslot.reservation_limit %}
                            <i class="fa-solid fa-users-slash d-inline-block h2 my-auto ms-3 text-secondary"></i>
                        {% endif %}
                        <a
                            href="{% url 'reserve-timeslot' schedule.id timeslot.time_from.date timeslot.id %}"
                            class="btn btn-primary ms-lg-auto mt-3 mt-lg-0 {% if timeslot.is_locked or timeslot.reservation_set.count >= timeslot.reservation_limit %}disabled{% endif %}">
                            Reserve ({{ timeslot.reservation_limit|sub:timeslot.reservation_set.count }} slot{{ timeslot.reservation_limit|sub:timeslot.reservation_set.count|pluralize }} left)
                            <i class="fas fa-arrow-right ms-1"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% empty %}
        <div class="pt-2">
            <p class="text-center"> It seems that there are no timeslots for this day...</p>
        </div>
    {% endfor %}
{% endblock schedule_body %}
